:root {
  --color-primary: #eb4d43;
  --color-secondary: #ee7d31;
  --color-accent: #5dc4e5;
  --color-background: #ededed;
  --color-text: #233249;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "helvetica_55Roman";
  src:
    url("../fonts/helvetica_neue_lt_std_55_roman-webfont.woff2") format("woff2"),
    url("../fonts/helvetica_neue_lt_std_55_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica_77BoldCondensed";
  src:
    url("../fonts/helvetica_neue_lt_std_77_bold_condensed-webfont.woff2")
      format("woff2"),
    url("../fonts/helvetica_neue_lt_std_77_bold_condensed-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
button,
a {
  font-family: "helvetica_77BoldCondensed", sans-serif;
  color: var(--color-text);
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.167rem;
  line-height: 20px;
  margin: 0.5rem 0;
}
h3 {
  font-size: 0.833rem;
  line-height: 15px;
  margin: 0.5rem 0;
}
p {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  line-height: 13px;
  font-family: "helvetica_55Roman", sans-serif;
  color: var(--color-text);
}
h1,
h2,
h3,
h4,
p {
  cursor: default;
}
a,
button,
li {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
