---
import "../styles/global.css";
---

<div class="footer flexcol">
  <div class="logo flexcol">
    <h2>KEA - Københavns Erhvervsakademi</h2>
    <h3>Guldbergsgade 29N <br /> 2200 København N</h3>
  </div>
  <p>Du skal ikke bare vide. <br /> Du skal kunne.</p>
  <h3>Tema 9 - Gruppe 9</h3>
</div>
<style>
  .footer {
    background-color: var(--color-text);
    padding: 20px;
    gap: 20px;
    text-align: center;
  }
  .logo {
    gap: 0;
  }
  h2,
  h3,
  p {
    color: #fff;
  }
</style>
